.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightskyblue);
  border: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 210px;
  height: 40px;
}
.create-add {
  position: absolute;
  top: 10px;
  left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 146.5px;
  height: 21px;
}
.create-more,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 40px;
}
.create-more {
  left: 245px;
  width: 137px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
