/* General Reset */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* 
header {
  background-color: #f5c04e;
  padding: 20px;
  text-align: center;
  color: #800000;
} */

.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #800000;
  padding: 10px 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.search-job-container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  flex-direction: column;
}

.search-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #f5c04e;
  color: #800000;
}

.apply-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

.footer-content {
  margin-bottom: 10px;
} */

